
* {

    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    }

   
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: rgb(218, 218, 218);
    }
    
    .topnav a {
      float: left;
      color: #353535;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #56a9b4;
      color: #ffffff;
    }
    
    .topnav a.active {
      background-color: #56a9b4
      ;
      color: white;
    }
    
    .inloggen{
      margin: 0;
      padding: 0;
      background-color: rgb(255, 0, 0);
      font-family: Arial, Helvetica, sans-serif;


    }